<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">

	<!-- Appenders -->
	<Appenders>

<!-- 		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%t][%p] %m%n" />
		</Console>
 -->

		<RollingFile name="eConnectRootAppender"
			fileName="${sys:catalina.base}/logs/leanswift/com.leanswift.connector.log"
			filePattern="${sys:catalina.base}/logs/leanswift/com.leanswift.connector-%d{dd-MM-yyyy}#%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%t][%p] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>

		<RollingFile name="eConnectRequestResponseAppender"
			fileName="${sys:catalina.base}/logs/leanswift/com.leanswift.connector-request-response.log"
			filePattern="${sys:catalina.base}/logs/leanswift/com.leanswift.connector-request-response-%d{dd-MM-yyyy}#%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%t][%p] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>

		<RollingFile name="eConnectTimeAppender"
			fileName="${sys:catalina.base}/logs/leanswift/com.leanswift.connector-time.log"
			filePattern="${sys:catalina.base}/logs/leanswift/com.leanswift.connector-time-%d{dd-MM-yyyy}#%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%t][%p] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>

		<!-- Spring framework Appender -->
		<RollingFile name="springFrameworkAppender"
			fileName="${sys:catalina.base}/logs/leanswift/org.springframework.log"
			filePattern="${sys:catalina.base}/logs/leanswift/org.springframework-%d{dd-MM-yyyy}#%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%t][%p] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>

		<!-- Spring jdbc Appender -->
		<RollingFile name="springjdbcAppender"
			fileName="${sys:catalina.base}/logs/leanswift/org.springframework.jdbc.log"
			filePattern="${sys:catalina.base}/logs/leanswift/org.springframework.jdbc-%d{dd-MM-yyyy}#%i.log">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%t][%p] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- 3rdparty Loggers -->
		<Logger name="com.github.isrsal.logging.LoggingFilter" level="DEBUG" additivity="false">
			<AppenderRef ref="eConnectRequestResponseAppender" />
		</Logger>

		<Logger name="connector.timeLogger" level="OFF" additivity="false">
			<AppenderRef ref="eConnectTimeAppender" />
		</Logger>

		<Logger name="org.springframework" level="OFF" additivity="false">
			<AppenderRef ref="springFrameworkAppender" />
		</Logger>

		<Logger name="org.springframework.jdbc" level="ALL" additivity="false">
			<AppenderRef ref="springjdbcAppender" />
		</Logger>

		<!-- Root Logger -->
		<Root level="ALL">
			<!-- <AppenderRef ref="console" /> -->
			<AppenderRef ref="eConnectRootAppender" />
		</Root>
	</Loggers>
</Configuration>
